<div class="col-span-1 bg-primary p-5 sm:p-6 lg:p-8 rounded-3xl text-white flex flex-col justify-between hover:bg-primary-dark transition-colors group relative min-h-50">
  <h2 class="text-base font-semibold">Descargar CV</h2>
  <span class="text-5xl group-hover:translate-x-1 transition-transform">→</span>
  <a
    href="https://docs.google.com/document/d/1AhEEQWXVhWA8tVCYmL0mSNH33JdpCm5uFSa-Bld-F8U/edit?usp=sharing"
    target="_blank"
    rel="noopener noreferrer"
    class="absolute inset-0"
    aria-label="Descargar CV"
  ></a>
</div>