---
const skills = [
  {
    category: 'Habilidades de Desarrollo',
    items: [
      { name: 'React', icon: 'logos:react' },
      { name: 'React Native', icon: 'logos:react' },
      { name: 'Astro', icon: 'logos:astro-icon', class: 'dark:invert' },
      { name: 'TypeScript', icon: 'logos:typescript-icon' },
      { name: 'JavaScript', icon: 'logos:javascript' },
      { name: 'Tailwind CSS', icon: 'logos:tailwindcss-icon' },
      { name: 'Next.js', icon: 'logos:nextjs-icon' },
      { name: 'shadcn/ui', icon: 'simple-icons:shadcn-ui' },
    ],
  },
  {
    category: 'Habilidades de Diseño',
    items: [
      { name: 'Figma', icon: 'logos:figma' },
      { name: 'Photoshop', icon: 'logos:adobe-photoshop' },
      { name: 'Illustrator', icon: 'logos:adobe-illustrator' },
      { name: 'After Effects', icon: 'logos:adobe-after-effects' },
    ],
  },
  {
    category: 'Habilidades de Colaboración',
    items: [
      { name: 'Git', icon: 'logos:git' },
      { name: 'GitHub', icon: 'logos:github' },
      { name: 'Bitbucket', icon: 'logos:bitbucket' },
    ],
  },
  {
    category: 'Habilidades de Comunicación',
    items: [
      { name: 'Inglés Básico',},
      { name: 'Español (Nativo)',  },
    ],
  }
];

---
<div class="col-span-1 sm:col-span-2 lg:col-span-2 bg-background-card p-5 sm:p-6 lg:p-6 rounded-3xl border border-border text-text flex flex-col gap-3 bento-card animate-fade-up delay-3">
  <h2 class="title-section">
    <iconify-icon icon="mdi:lightning-bolt" class="text-primary" width="22" height="22"></iconify-icon>
    Stacks & Tecnologías
  </h2>

  <div class="grid grid-cols-2 gap-3">
    {skills.map(({ category, items }) => (
      <div class="flex flex-col bg-background rounded-2xl px-4 py-4 gap-3">
        <span class="text-base text-center font-semibold text-text">{category}</span>
        <div class="flex items-center gap-2 flex-wrap">
          {items.map(({ name, icon, class: iconClass }) => (
            <span class="flex items-center gap-1.5 px-2.5 py-1.5 rounded-full border border-border bg-background-card text-text text-xs font-medium">
              <iconify-icon icon={icon} width="16" height="16" class={iconClass}></iconify-icon>
              {name}
            </span>
          ))}
        </div>
      </div>
    ))}
  </div>
</div>