<div class="col-span-1 lg:col-span-2 relative group rounded-3xl overflow-hidden border border-border min-h-50">
  <iframe
    src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/design/5cacOKKoQyF703jSBFhLgC/Pawhome-App"
    class="absolute inset-0 w-full h-full"
    allowfullscreen
    loading="lazy"
    title="Pawhome – diseño de app en Figma"
  ></iframe>
  <a
    href="https://www.figma.com/design/5cacOKKoQyF703jSBFhLgC/Pawhome-App?node-id=0-1&t=Vv3YFJvyCLlIpkZ3-1"
    target="_blank"
    rel="noopener noreferrer"
    class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black/40"
    aria-label="Ver Pawhome en Figma"
  >
    <iconify-icon icon="logos:figma" width="48" height="48"></iconify-icon>
    <span class="text-white font-semibold mt-2 text-sm">Ver en Figma</span>
  </a>
</div>